html, body, #map_canvas {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.header {
  background-color: rgba(0,0,0,0.3);
  position: absolute;
  width: 100%;
  z-index: 10;
  line-height: 37px;
}

.header .container-fluid {
  position: relative;
}

.headertwo {
  padding-top: 100px;
  text-align: center;
}

h3 {
  text-align: center;
}

.btncenter {
  text-align: center;
  margin: auto;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  text-align: center;
  margin: auto;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
  text-align: center;
  margin: auto;
}

.header h1 {
  color: #fff;
  font-size: 16px;
  letter-spacing: 1.2px;    
  margin: 0;
  padding: 10px 0 10px 55px;
  text-transform: uppercase;
}

.header a {
  padding-right: 20px;
  color: #fff;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

#map_canvas {
  position: relative;
}

.angular-leaflet-map {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}